.bg-image {
    margin: 30px;
    width: 100%;
    position: relative;
}
.imagebox {
    width: 1170px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leaf-2 {
    width: 40px;
    position: absolute;
    float: left;
    margin-left: 100px;
    top: 200px;
    animation: leaf-2animation 2s infinite;
}
.leaf-3 {
    width: 30px;
    position: absolute;
    float: left;
    margin-left: 200px;
    top: 150px;
    animation: leaf-2animation 7s infinite;
}
.leaf-4 {
    width: 30px;
    position: absolute;
    float: left;
    margin-left: 400px;
    top: 250px;
    animation: leaf-2animation 3s infinite;
}
.leaf-5 {
    width: 30px;
    position: absolute;
    float: left;
    margin-left: 500px;
    top: 180px;
    animation: leaf-2animation 5s infinite;
}
.leaf-6 {
    width: 50px;
    position: absolute;
    float: left;
    margin-left: 700px;
    top: 100px;
    animation: leaf-2animation 4s infinite;
}
.leaf-7 {
    width: 30px;
    position: absolute;
    float: left;
    margin-left: 800px;
    top: 50px;
    animation: leaf-2animation 3s infinite;
}
.clear {
    clear: both;
} */
@keyframes leaf-2animation {
    0% {transform: translateY(top: 200px)}
    20% {transform: translateY(top: 300px)}
    40% {transform: translateY(top: 400px)}
    60% {transform: translateY(top: 500px)}
    80% {transform: translateY(top: 600px)}
    100% {transform: translateY(top: 700px)}
}
@keyframes leaf-2animation {
    0% {top: 200px; transform: rotate(0deg)}
    20% {top: 300px; transform: rotate(45deg)}
    40% {top: 400px; transform: rotate(90deg)}
    60% {top: 500px; transform: rotate(130deg)}
    80% {top: 600px; transform: rotate(200deg)}
    100% {top: 700px; transform: rotate(300deg)}
}